.Market-overview-content-chart-container {
    font-size: 16px;
    padding: 1.879997em 1.81em;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 1.5625em;
}

.market-overview-title {
    margin: 0;
    color: #343a40;
    font-size: 0.875em;
    font-weight: 600;
}

.market-overview-caption-and-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.market-overview-caption {
    margin: 0;
    font-size: 0.875em;
    width: 50%;
    color: #343a40;
    font-weight: 400;
}

.dropdown {
    font-size: 16px;
}

.market-overview-button {
    padding: 0.480em 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,.5);
    border: 1px solid #dde4eb;
    background-color: transparent;
    border-radius: 3px;
}

.angle-down-icon {
    margin-left: 0.308335em;
    color: rgba(0,0,0,.5);
    font-size: 0.875em;
}

.market-overview-value-profit-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #343a40;
    font-size: 16px;
    margin-top: 0.25em;
}

.market-over-value {
    font-size: 1.6875em;
    margin: 0;
    
}

.market-overview-value-type {
    margin: 0;
    margin: 0 0.5714285em 0.285714em;
    font-size: 0.875em;
    font-weight: 500;
    color: #343a40;
}

.market-overview-profit {
    margin: 0;
    color: #19D895;
    font-size: 0.875em;
    margin-bottom: 0.285714em;
    font-weight: 600;
}

@media only screen and (min-width:768px) {
    .Market-overview-content-chart-container{
        width: 105%;
    }
}