.totalrevenue-content-and-chart-container {
    background-color: #fff;
    font-size: 16px;
    border-radius: 3px;
    margin-bottom: 1.5625em;
}

.total-revenue-container {
    font-size: 16px;
    padding: 1.879997em 1.81em 0;
}

.total-revenue-title-profit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    
}

.total-revenue-title {
    font-size: 0.875em;
    margin: 0;
    color: #343a40;
    font-weight: 500;
}

.total-revenue-profit {
    color: #343a40;
    font-size: 0.875em;
    margin: 0;
    font-weight: 600;
}

.total-revenue-value {
    color: #343a40;
    font-size: 1.6875em;
    margin: 0;
    margin-bottom: 0.89em;
    font-weight: 500;
    margin-top: 0.25em;

}