.star-admin-side-navbar-content-container{
    font-size: 16px;
    background-color: #5768f3;
    color: #fff;
    height: auto;
    padding-top: 0.5em;
}


.closed-side-navbar-container{
    padding-top: 1em;
    width: 70px;
    background-color: #5768f3;
    height: 3640px;
}

.star-admin-side-navbar-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.star-admin-side-navbar-image{
    width: 50%;
}

.side-navbar-icon-container{
    color: #fff;
    font-size: 1.5em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

