.dashboard-toobar-container {
    font-size: 16px;
    margin-bottom: 1.25em;
}

.calendar-buttons-container {
    font-size: 16px;
    margin-top: 1.25em;
    display: flex;
}

.left-arrow-button {
    background-color: #DDE4EB;
    border:1px solid #DDE4EB;
    padding: 0.48em 1.2em;
}

.angle-icon {
    color: #007bff;
}

.date-button {
    margin:  0 0 0 -1px;
    padding: 0.457em 1.142em;
    background-color: #DDE4EB;
    border:1px solid #DDE4EB;
    font-size: 0.875em;
}

.right-arrow-button {
    margin:  0 0 0 -1px;
    padding: 0.457em 1.142em;
    background-color: #DDE4EB;
    border:1px solid #DDE4EB;
}

.all-day-dropdown-container {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.all-day-content {
    padding: 0.48em 1.2em;
    color: #212529;
    background-color: #dde4eb;
    border:  1px solid #dde4eb;
    margin-top: 1.5em;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.1875em;
}

.angle-down-icon {
    color: #2196f3;
    font-size: 0.9em;
    margin-left: 0.255em;
}

.advanced-options {
    font-size: 1em;
    margin: 1.25em  0 0;
    color: #007bff;
}

.advanced-options:hover {
    text-decoration: underline;
    text-decoration-color: #007bff;
}

.export-content-container{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.new-button {
    background-color: #2196f3;
    border: 1px solid #2196f3;
    padding: 0.48em 1.2em;
    border-radius: 0.1875rem;
    color: #fff;
    font-size: 0.875em;
    font-family: Roboto,sans-serif;
}

.export-content {
    margin: 0;
    margin-top: 1.25em;
    padding: 0.457em 1.142em;
    font-size: 0.875em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    color: #212529;
    background-color: #dde4eb;
    border: 1px solid #dde4eb;
    text-align: center;
    border-radius: 0.1875rem;
}
